<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Showing {{dojo[0].name}} Ninjas</h1>
    <div class="students">
        <table>
            <tr>
                <th>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Age</td>
                </th>
            </tr>
            {% for ninja in dojo%}
            <tr>
                <td>
                    {{ninja.first_name}}
                </td>
                <td>
                    {{ninja.last_name}}
                </td>
                <td>
                    {{ninja.age}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/">HOME</a>
</body>
</html>