*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
button {
    margin: 15px ;
    font-size: large;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.red{
    background-color: red;
    color: white;
}
.hidethem{
    display: flex;
    justify-content: flex-start;
    height: 75px;
}
.note{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: lightyellow;
}
.shadow{
    box-shadow: 5px 5px 5px grey;
    position: relative;
    bottom: 10px;
    cursor: crosshair;
}

.darkmode{
    background-color: #222;
    color: #FFF;
}