<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One User</title>
</head>
<body>
    <h1>User {{user.id}}</h1>
    <div class="container">
        <h2>Full Name: {{user.first_name}} {{user.last_name}}</h2>
        <h3>Email: {{user.email}}</h3>
        <h3>Created On: {{user.created_at}}</h3>
        <h3>Last Updated: {{user.updated_at}}</h3>
    </div>
    <a href="/edit/{{user.id}}">Edit</a>
    <a href="/delete/{{user.id}}">Delete</a>
    <a href="/">Home</a>
</body>
</html>